:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.captionBigText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Mono, Roboto, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (min-width: 769px) {
  .captionBigText {
    font-size: max(1.4rem, 14px);
  }
}
.captionSmallText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Mono, Roboto, Helvetica Neue, sans-serif;
  font-size: max(1.2rem, 12px);
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (min-width: 769px) {
  .captionSmallText {
    font-size: max(12px, 1.2rem);
  }
}
.heading1Text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on;
  font-family: Reckless, Roboto, Helvetica Neue, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: -0.66px;
  line-height: 120%;
}
@media only screen and (min-width: 769px) {
  .heading1Text {
    font-size: 3.8rem;
    letter-spacing: -0.11rem;
    line-height: 110%;
  }
}
.heading2Text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on;
  font-family: Reckless, Roboto, Helvetica Neue, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: -0.066rem;
  line-height: 120%;
}
@media only screen and (min-width: 769px) {
  .heading2Text {
    font-size: max(3.2rem, 18px);
    letter-spacing: -0.096rem;
    line-height: 110%;
  }
}
.heading3Text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on;
  font-family: Reckless, Roboto, Helvetica Neue, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: -0.044rem;
  line-height: 110%;
}
@media only screen and (min-width: 769px) {
  .heading3Text {
    font-size: 2.6rem;
    letter-spacing: -0.052rem;
    line-height: 110%;
  }
}
.subHeadingText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Mono, Roboto, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.042rem;
  line-height: 140%;
  text-transform: uppercase;
}
@media only screen and (min-width: 769px) and (max-width: 1800px) {
  .subHeadingText {
    font-size: 14px;
  }
}
.bodyText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on;
  font-feature-settings: "ss02" off, "ss03" off, "ss04" off, "ss05" off,
    "ss06" off;
  font-family: Reckless, Roboto, Helvetica Neue, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}
@media only screen and (min-width: 769px) {
  .bodyText {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1800px) {
  .bodyText {
    font-size: 20px;
  }
}
.shellText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Mono, Roboto, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (min-width: 769px) {
  .shellText {
    font-size: max(1.4rem, 14px);
  }
}
.monoFont {
  letter-spacing: 0.02em;
  line-height: 1;
}
.btnRoundedBgText,
.monoFont {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Mono, Roboto, Helvetica Neue, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.btnRoundedBgText {
  font-size: 1.2rem;
}
@media only screen and (min-width: 769px) {
  .btnRoundedBgText {
    font-size: max(1.4rem, 14px);
  }
}
.menuText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on;
  font-family: Reckless, Roboto, Helvetica Neue, sans-serif;
  font-size: 2.8rem;
  font-weight: 200;
  letter-spacing: -0.04em;
  line-height: 1;
}
@media only screen and (min-width: 769px) {
  .menuText {
    font-size: 6.9rem;
    letter-spacing: -0.055em;
  }
}
.menuSubText {
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1;
}
.archiveText,
.menuSubText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Mono, Roboto, Helvetica Neue, sans-serif;
  text-transform: uppercase;
}
.archiveText {
  font-size: 1rem;
  font-weight: 400;
}
:root {
  --menuHeight: 5rem;
  --sideMargin: 1.2rem;
  --columns: 6;
  --topMargin: calc(var(--menuHeight) + 2rem);
}
@media only screen and (min-width: 769px) {
  :root {
    --sideMargin: 2rem;
    --topMargin: calc(var(--menuHeight) + 6rem);
  }
}
html {
  font-size: 2.6666666667vw;
}
html.lenis-scrolling {
  pointer-events: none;
}
@media only screen and (min-width: 769px) {
  html {
    font-size: 0.5555555556vw;
  }
}
@media only screen and (min-width: 769px) and (min-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (min-width: 769px) and (min-width: 2000px) {
  html {
    font-size: 11px;
  }
}
body {
  font-family: sans-serif;
  font-size: 1.5rem;
  touch-action: pan-y !important;
}
h1,
h2,
h3,
h4,
p {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.gl {
  overflow: hidden;
}
.hidden {
  display: none;
}
@media only screen and (min-width: 769px) {
  .m-only {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .d-only {
    display: none !important;
  }
}
h1 {
  font-size: 5rem;
}
h1,
h2 {
  font-weight: 700;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 700;
}
h4 {
  font-size: 2rem;
}
h4,
h5 {
  font-weight: 500;
}
h5 {
  font-size: 1rem;
}
.viewportEl {
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100vw;
}
.gridMain {
  grid-gap: 0.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: var(--sideMargin);
  padding-right: var(--sideMargin);
}
@media only screen and (min-width: 769px) {
  .gridMain {
    grid-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
.fill,
.fillObjectFit {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.fillObjectFit {
  -o-object-fit: cover;
  object-fit: cover;
}
.flexCenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
[theme="chapter"] {
  background-color: var(--themeColor);
  color: #000;
}
[theme="dark"] {
  background-color: #000;
  color: #fff;
}
[theme="light"] {
  background-color: #fff;
  color: #000;
}
.tp-dfwv {
  bottom: 0;
  position: absolute;
  top: auto !important;
  z-index: 100;
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
[data-v-0985e4ed]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.videoGraphic[data-v-0985e4ed] {
  backface-visibility: hidden;
  mix-blend-mode: multiply;
  will-change: transform;
}
.videoGraphic video[data-v-0985e4ed] {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
[data-v-bb72da55]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.soundUI[data-v-bb72da55] {
  animation: fadeIn-bb72da55 1.6s ease-out;
  background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: default;
  left: 0;
  opacity: 0;
  padding: 0.5rem 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(50vw, 76.9230769231vh) translate(-50%, -50%);
  transition: opacity 0.2s ease-out, visibility 0.5s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  visibility: hidden;
  z-index: 101;
}
.soundUI.es[data-v-bb72da55] {
  font-size: 10px;
}
@media only screen and (max-width: 768px) {
  .soundUI[data-v-bb72da55] {
    bottom: auto;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%);
    white-space: nowrap;
  }
}
.soundUI.active[data-v-bb72da55] {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.soundUI__wrapper[data-v-bb72da55] {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}
.pageLoader[data-v-bb72da55],
.soundUI__wrapper[data-v-bb72da55] {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.pageLoader[data-v-bb72da55] {
  --perspective: 500px;
  background-color: #ffa441;
  color: #000;
  position: fixed;
  z-index: 100;
}
.pageLoader.animOut[data-v-bb72da55] {
  background-color: transparent;
  mix-blend-mode: multiply;
}
.pageLoader__graphics[data-v-bb72da55] {
  z-index: -1;
}
.pageLoader__logo[data-v-bb72da55] {
  display: flex;
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 769px) {
  .pageLoader__logo[data-v-bb72da55] {
    align-items: flex-end;
  }
  .pageLoader__logo p[data-v-bb72da55] {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .pageLoader__logo[data-v-bb72da55] {
    align-items: center;
    flex-direction: column;
    margin: auto;
    opacity: 0;
    padding-top: 1.5rem;
    transition: opacity 0.2s;
  }
  .pageLoader__logo.active[data-v-bb72da55] {
    opacity: 1;
  }
  .pageLoader__logo p[data-v-bb72da55] {
    margin-top: 0.5rem;
  }
}
.pageLoader__logoIcon[data-v-bb72da55] {
  height: 9rem;
  width: 18rem;
}
@media only screen and (max-width: 768px) {
  .pageLoader__logoIcon[data-v-bb72da55] {
    height: 6rem;
    width: 9rem;
  }
}
.pageLoader__ui[data-v-bb72da55] {
  height: 100%;
  left: 0;
  padding: 3rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  .pageLoader__ui[data-v-bb72da55] {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .pageLoader__ui[data-v-bb72da55] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 1rem;
  }
  .pageLoader__pct[data-v-bb72da55] {
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%);
  }
}
@media only screen and (min-width: 769px) {
  .pageLoader__sndIndicator[data-v-bb72da55] {
    left: 0;
    position: absolute;
    top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .pageLoader__sndIndicator[data-v-bb72da55] {
    align-self: flex-end;
  }
}
.pageLoader__enterExperience[data-v-bb72da55] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on;
  animation: fadeIn-bb72da55 1.6s ease-out;
  display: block;
  font-family: Reckless, Roboto, Helvetica Neue, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  font-weight: 200;
  left: 50%;
  letter-spacing: -0.044rem;
  line-height: 110%;
  opacity: 0;
  position: fixed;
  text-align: center;
  text-transform: none;
  transform: translate(-50%);
  transition: opacity 0.3s;
  white-space: pre-wrap;
  width: max(55rem, 500px);
  z-index: 100;
}
@media only screen and (min-width: 769px) {
  .pageLoader__enterExperience[data-v-bb72da55] {
    font-size: 2.6rem;
    letter-spacing: -0.052rem;
    line-height: 110%;
  }
}
.pageLoader__enterExperience .enterExperience__bg[data-v-bb72da55] {
  height: 350%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  .pageLoader__enterExperience .enterExperience__bg[data-v-bb72da55] {
    height: 400%;
    width: 150%;
  }
}
.pageLoader__enterExperience .enterExperience__bg img[data-v-bb72da55] {
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  width: 100%;
}
.pageLoader__enterExperience.active[data-v-bb72da55] {
  opacity: 1;
  transition: opacity 0.5s 2s;
  transition-delay: 8s;
}
@keyframes fadeIn-bb72da55 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .pageLoader__enterExperience[data-v-bb72da55] {
    bottom: 2.4rem;
    font-size: max(1.8rem, 18px);
    padding: 0 6rem;
    width: 100vw;
  }
}
@media only screen and (min-width: 769px) {
  .pageLoader__enterExperience[data-v-bb72da55] {
    bottom: 5.4rem;
    font-size: max(2.4rem, 24px);
  }
}
.pageLoader__enterExperience p[data-v-bb72da55]:last-child {
  font-weight: 500;
  margin-top: 1.5rem;
}
[data-v-fb96adea]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.textFlip[data-v-fb96adea] {
  display: inline-block;
  overflow: hidden;
}
.textFlip[data-v-fb96adea] .chars {
  backface-visibility: hidden;
  will-change: transform;
}
[data-v-2ae7394b]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.languageSelect[data-v-2ae7394b] {
  align-items: center;
  display: flex;
  gap: 2.5rem;
  pointer-events: none;
}
@media only screen and (max-width: 768px) {
  .languageSelect[data-v-2ae7394b] {
    gap: 1.5rem;
  }
}
.languageSelect.active[data-v-2ae7394b] {
  pointer-events: auto;
}
.languageSelect__lang[data-v-2ae7394b] {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  opacity: 0.5;
  white-space: nowrap;
}
.languageSelect__lang.isActive[data-v-2ae7394b] {
  opacity: 1;
}
.languageSelect .dot[data-v-2ae7394b] {
  background-color: #000;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}
[data-v-90378a29]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.btnBrackets[data-v-90378a29] {
  align-items: center;
  contain: content;
  display: flex;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.btnBrackets[data-v-90378a29] svg {
  display: inline-flex;
  margin: 0 0.5rem;
}
.btnBrackets[data-v-90378a29]:before {
  content: "";
  inset: -1rem;
  position: absolute;
}
.btnBrackets.active[data-v-90378a29] {
  pointer-events: auto;
}
.leftBracket[data-v-90378a29],
.rightBracket[data-v-90378a29] {
  will-change: transform;
}
.leftBracket[data-v-90378a29] {
  display: inline-block;
}
.text[data-v-90378a29] {
  align-items: center;
  display: inline-flex;
}
.rightBracket[data-v-90378a29] {
  display: inline-block;
}
[data-v-2f637f76]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.btnAudio[data-v-2f637f76] {
  align-items: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out 0.1s;
  white-space: nowrap;
}
.btnAudio.active[data-v-2f637f76] {
  opacity: 1;
  pointer-events: auto;
}
.btnAudio__dot[data-v-2f637f76] {
  border: 1px solid var(--shellColor);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-out;
}
.btnAudio__dot[data-v-2f637f76],
.btnAudio__dot.on[data-v-2f637f76]:after,
.btnAudio__dot.on[data-v-2f637f76]:before {
  background-color: var(--shellColor);
  display: block;
  height: 6px;
  width: 6px;
}
.btnAudio__dot.on[data-v-2f637f76]:after,
.btnAudio__dot.on[data-v-2f637f76]:before {
  animation: pulse-2f637f76 0.8s infinite;
  animation-timing-function: ease-in;
  border-radius: 50%;
  content: "";
  left: -25%;
  position: absolute;
  top: -25%;
}
.btnAudio__dot.on[data-v-2f637f76]:after {
  animation-delay: 0.2s;
}
.btnAudio__dot.off[data-v-2f637f76] {
  background-color: transparent;
  border: 1px solid var(--shellColor);
}
.active .btnAudio__dot[data-v-2f637f76] {
  opacity: 1;
}
.btnAudio__text[data-v-2f637f76] {
  pointer-events: none;
  position: relative;
}
.btnAudio__sound[data-v-2f637f76] {
  margin-right: 0.6rem;
}
@media only screen and (min-width: 769px) {
  .btnAudio__sound[data-v-2f637f76] {
    margin-right: 1.2rem;
  }
}
.btnAudio__status[data-v-2f637f76] {
  display: flex;
  margin-left: 0.6rem;
  position: relative;
}
@media only screen and (min-width: 769px) {
  .btnAudio__status[data-v-2f637f76] {
    margin-left: 1.2rem;
  }
}
.btnAudio__on[data-v-2f637f76] {
  left: 0;
  position: absolute;
  top: 0;
}
@keyframes pulse-2f637f76 {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(4);
  }
}
[data-v-e6465ddf]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.header[data-v-e6465ddf] {
  align-items: center;
  color: var(--shellColor);
  display: flex;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  padding: 1.6rem;
  position: fixed;
  top: 0;
  transition: color 0.2s, opacity 0.2s;
  width: 100%;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .header[data-v-e6465ddf] {
    padding: 1.2rem;
  }
}
.header__bg[data-v-e6465ddf] {
  background-image: linear-gradient(
    180deg,
    var(--shellBgColor) 35%,
    transparent
  );
  height: 6.5rem;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  .header__bg[data-v-e6465ddf] {
    height: 8rem;
  }
}
.header__bg.active[data-v-e6465ddf] {
  opacity: 1;
  transition-delay: 0.75s;
}
.header.visible[data-v-e6465ddf] {
  opacity: 1;
}
@media only screen and (min-width: 769px) {
  .header[data-v-e6465ddf] {
    font-size: 14px;
    height: max(6rem, 50px);
    padding: 2rem 2.5rem;
  }
}
.header.menuOpen[data-v-e6465ddf] {
  color: #000 !important;
}
.header__left[data-v-e6465ddf] {
  align-items: center;
  display: flex;
  pointer-events: auto;
  position: relative;
}
@media only screen and (min-width: 769px) {
  .header__left[data-v-e6465ddf] {
    color: var(--shellSecondaryColor);
  }
}
.header__logo[data-v-e6465ddf],
.header__sectionTitles[data-v-e6465ddf] {
  opacity: 0;
  position: relative;
}
.header__logo.active[data-v-e6465ddf],
.header__sectionTitles.active[data-v-e6465ddf] {
  opacity: 1;
}
@media only screen and (min-width: 769px) {
  .header__logo[data-v-e6465ddf],
  .header__sectionTitles[data-v-e6465ddf] {
    font-size: max(1.2rem, 10px);
  }
}
.header__sectionTitles[data-v-e6465ddf] {
  margin-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .header__sectionTitles[data-v-e6465ddf] {
    margin-left: 0;
    position: absolute;
    white-space: nowrap;
  }
}
.header__sectionTitles span[data-v-e6465ddf] {
  display: inline-block;
}
@media only screen and (min-width: 769px) {
  .header__sectionTitles span[data-v-e6465ddf] {
    display: block;
  }
}
.header__logoIcon[data-v-e6465ddf] {
  height: 2rem;
  width: 4.7rem;
}
@media only screen and (min-width: 769px) {
  .header__logoIcon[data-v-e6465ddf] {
    height: 40px;
    width: 80px;
  }
}
.header__btnAccessibility[data-v-e6465ddf] {
  background-color: #ff6359;
  color: #000;
  height: 100%;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  z-index: 10;
}
.header__center[data-v-e6465ddf] {
  gap: 2rem;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  transition: opacity 0.3s ease-out;
  width: 20rem;
}
.header__center[data-v-e6465ddf],
.header__right[data-v-e6465ddf] {
  display: flex;
  pointer-events: auto;
}
.header__right[data-v-e6465ddf] {
  align-items: center;
  gap: 3.4rem;
  padding-right: 15rem;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .header__right[data-v-e6465ddf] {
    padding-right: 10rem;
  }
}
@media only screen and (max-width: 768px) {
  .header__right[data-v-e6465ddf] {
    padding-right: 5rem;
  }
}
.header__credits[data-v-e6465ddf] {
  margin-right: 3.4rem;
  position: absolute;
  right: 8rem;
}
.header__btnMenu[data-v-e6465ddf] {
  position: absolute;
  right: 0;
  top: 0;
}
.header .musicTitle[data-v-e6465ddf] {
  align-items: center;
  display: flex;
  margin-right: 1.5rem;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  right: 100%;
  transition: opacity 0.5s;
  white-space: nowrap;
  will-change: opacity;
}
.header .musicTitle span[data-v-e6465ddf]:first-child {
  margin-right: 0.5rem;
}
.header .musicTitle span[data-v-e6465ddf]:last-child {
  margin-left: 0.5rem;
}
.header .musicTitle.isActive[data-v-e6465ddf] {
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .header .musicTitle[data-v-e6465ddf] {
    display: none;
  }
}
.header .hide[data-v-e6465ddf] {
  opacity: 0;
}
[data-v-dd19a040]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.rotateLandscape[data-v-dd19a040] {
  align-items: center;
  background-color: #ffa441;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  padding: var(--sideMargin);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
p[data-v-dd19a040] {
  font-size: 12px;
}
[data-v-da53f084]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.chapterTitleSvg[data-v-da53f084] {
  height: 100%;
  position: relative;
  width: 100%;
}
.chapterTitleSvg[data-v-da53f084] .svgRoot svg {
  backface-visibility: hidden;
  will-change: transform;
}
.chapterTitleSvg[data-v-da53f084] .svgBase {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.image[data-v-521b19b1] {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
[data-v-3320fdc9]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.menuNavItem[data-v-3320fdc9] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
  overflow-y: clip;
  position: relative;
}
@media only screen and (min-width: 769px) {
  .menuNavItem[data-v-3320fdc9] {
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
  }
}
.menuNavItem__inner[data-v-3320fdc9] {
  backface-visibility: hidden;
  position: relative;
  will-change: transform;
}
.menuNavItem__subtitle[data-v-3320fdc9] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Mono, Roboto, Helvetica Neue, sans-serif;
  font-size: max(1.2rem, 12px);
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  white-space: nowrap;
}
@media only screen and (min-width: 769px) {
  .menuNavItem__subtitle[data-v-3320fdc9] {
    bottom: 1.2rem;
    font-size: max(12px, 1.2rem);
    left: 100%;
    margin-bottom: 0;
    margin-left: 1.2rem;
    position: absolute;
  }
}
.menuNavItem .titleWrap[data-v-3320fdc9] {
  padding-bottom: 0.5rem;
  position: relative;
}
.menuNavItem__title[data-v-3320fdc9] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss02" on, "ss03" on, "ss04" on, "ss05" on, "ss06" on;
  font-family: Reckless, Roboto, Helvetica Neue, sans-serif;
  font-size: 2.8rem;
  font-weight: 200;
  letter-spacing: -0.04em;
  line-height: 1;
}
@media only screen and (min-width: 769px) {
  .menuNavItem__title[data-v-3320fdc9] {
    font-size: 6.9rem;
    letter-spacing: -0.055em;
  }
}
.menuNavItem__line[data-v-3320fdc9] {
  bottom: 0;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  height: 1rem;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left center;
  object-position: left center;
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .menuNavItem__line[data-v-3320fdc9] {
    bottom: -0.5rem;
  }
}
.menuNavItem.activeSection .menuNavItem__line[data-v-3320fdc9] {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  transition-delay: 2.5s;
}
[data-v-94551f63]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
[data-v-b992b5ad]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
[data-v-640e2312]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
[data-v-0a6a9881]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.menu[data-v-0a6a9881] {
  align-items: center;
  background: var(--3d3623b4);
  color: #000;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}
.menu[data-v-0a6a9881],
.menu__inner[data-v-0a6a9881] {
  display: flex;
  flex-direction: column;
}
.menu__inner[data-v-0a6a9881] {
  inset: var(--sideMargin);
  justify-content: flex-end;
  position: absolute;
  top: var(--topMargin);
  top: 5rem;
}
@media only screen and (min-width: 769px) {
  .menu__inner[data-v-0a6a9881] {
    align-items: flex-start;
    flex-direction: row;
  }
}
.menu__nav[data-v-0a6a9881] {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .menu__nav[data-v-0a6a9881] {
    height: 82%;
  }
}
.menu__navList[data-v-0a6a9881] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.menu__titleSvg[data-v-0a6a9881] {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .menu__titleSvg[data-v-0a6a9881] {
    height: 80vh;
  }
}
.menu__bottom[data-v-0a6a9881] {
  display: flex;
  justify-content: space-between;
}
.menu__btnAccessibility[data-v-0a6a9881],
.menu__credits[data-v-0a6a9881] {
  font-size: 1.2rem;
  font-weight: 500;
}
[data-v-d6c2369d]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.scrollBar[data-v-d6c2369d] {
  height: 100vh;
  height: 100lvh;
  left: 0;
  position: fixed;
  top: 0;
  width: 3px;
  z-index: 200;
}
@media only screen and (min-width: 769px) {
  .scrollBar[data-v-d6c2369d] {
    width: 0.4rem;
  }
}
.scrollBar__pr[data-v-d6c2369d] {
  background-color: #fff;
  background-color: var(--shellColor);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: background-color 0.3s ease-out;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .scrollBar__pr[data-v-d6c2369d] {
    background-color: var(--shellSecondaryColor, var(--shellColor));
  }
}
[data-v-79b2c789]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.header[data-v-79b2c789] {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1.6rem 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .header[data-v-79b2c789] {
    padding: 1.6rem;
  }
}
.header__left[data-v-79b2c789] {
  align-items: center;
  display: flex;
  pointer-events: auto;
}
.header__left[data-v-79b2c789],
.header__logo[data-v-79b2c789] {
  position: relative;
}
.header__logoIcon[data-v-79b2c789] {
  height: 2rem;
  width: 4.7rem;
}
@media only screen and (min-width: 769px) {
  .header__logoIcon[data-v-79b2c789] {
    height: 2.5rem;
    width: 6.2rem;
  }
}
.header__center[data-v-79b2c789] {
  display: flex;
  gap: 2rem;
  justify-content: center;
  left: 50%;
  pointer-events: auto;
  position: absolute;
  transform: translate(-50%);
  width: 20rem;
}
.header__right[data-v-79b2c789] {
  pointer-events: auto;
  position: relative;
}
.header .language[data-v-79b2c789] .dot {
  background-color: #fff;
}
[data-v-49de86f7]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.fixedContent[data-v-49de86f7] {
  height: 100%;
  height: 100lvh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
[data-v-2b21f1aa]:root {
  --getty-yellow: #ffa441;
  --getty-green: #16a147;
  --getty-blue: #4596ff;
  --getty-red: #ff6359;
}
.page[data-v-2b21f1aa] {
  align-items: center;
  background-color: #ffa441;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-bottom: 10vh;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.page .heading1Text[data-v-2b21f1aa] {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 769px) {
  .page .heading1Text[data-v-2b21f1aa] {
    font-size: 6rem;
  }
}
